---
import { SITE_TITLE } from "../consts";
import IndexpageLayout from "../layouts/IndexpageLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Image from "astro/components/Image.astro";

const allPosts = await getCollection("posts");

const sorted = allPosts.filter(p => !p.data.hidden).sort((p1, p2) =>
  new Date(p1.data.pubDate) < new Date(p2.data.pubDate) ? 1 : -1
);

const featuredPost = sorted[0];
const recents = sorted.slice(1, 15);


---

<IndexpageLayout bodyclass="layout-home">
  <div class="container">
    <div class="site-hero-start">
      <div class="site-logo-start">
        <img src="/png/logo_small.png" class="" />
      </div>
      <h1 class="site-title">{SITE_TITLE}</h1>
      <!-- <div class="site-subtitle">
        Civilization probably was a bad idea. How do we make the best of it?
      </div> -->
    </div>

    <div class="home-wrap">
      <div class="section-divider">
        <span>Latest</span>
      </div>
      <article class="featured">
        <div class="featured-img" style=`background-image: url("${featuredPost.data.heroImage}")`>
        </div>

        <div class="featured-text">
            <div class="featured-pubdate">
              <FormattedDate date={featuredPost.data.pubDate}/>
            </div>
            <h2 class="post-preview-headline">
              {featuredPost.data.title}
            </h2>
            <div class="featured-textcontent__excerpt">
              {featuredPost.data.description}
            </div>
            <a class="post-continue-link" href={`/posts/${featuredPost.slug}`}
              >Continue reading</a
            >
        </div>
      </article>

      <div class="section-divider">
        <span>Further reading</span>
      </div>

      <section class="post-previews-list">
        {
          recents.map((post) => {
            const { data } = post;
            
            return (
              <article class="post-preview">
                <div class="post-preview-image" style={`background: url("${data.heroImage}") no-repeat center; background-size: cover;`}>
                </div>
                <div class="post-preview-text">
                  <div class="post-preview-pubdate">
                    <FormattedDate date={data.pubDate}/>
                  </div>
                  {data.draft && (
                    <div>Draft</div>
                  )}
                  <h2 class="post-preview-headline">
                    <a href={`/posts/${post.slug}`}>
                    {data.title}
                    </a>
                  </h2>
                  <a class="post-continue-link" href={`/posts/${post.slug}`}>
                    Continue reading
                  </a>
                </div>
              </article>
            );
          })
        }
      </section>

      <div class="section-divider">
        <span>From the archives</span>
      </div>

      <section class="archive-previews">
        <ul class="list-unstyled archive-previews-list">
          <!-- {% for post in site.posts offset:6 %} -->
          <li class="archive-preview">
            <div class="post-date">
              <!-- {{ post.date | date: "%b %-d, %Y" }} -->
            </div>
            <h3 class="archive-preview__headline">
              <!-- <a class="" href="{{ post.url }}">{{ post.title }}</a> -->
            </h3>
          </li>
          <!-- {% endfor %} -->
        </ul>
      </section>
    </div>
  </div>
</IndexpageLayout>

<style lang="scss">
  @use "../styles/config/" as v;

  @import "../styles/components/post-preview.scss";


  .site-hero-start {
    margin-bottom: v.$spacing-unit * 3;
    text-align: center;

    @media (min-width: 360px) {
      margin-top: v.$spacing-unit * 4;
      margin-bottom: v.$spacing-unit * 10;
    }
  }

  .site-title {
    display: block;
    font-family: v.$base-font-family;
    color: var(--vl-accent);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.1;
  }

  .site-subtitle {
    text-align: center;
    color: var(--vl-accent);
    font-family: v.$heading-font-family;
    font-size: 1.4rem;
    font-style: italic;
  }

  .site-logo-start {
    width: 40px;
    height: 40px;
    margin-bottom: v.$spacing-unit * 2;

    @media (min-width: 360px) {
      width: 56px;
      height: 56px;
      margin: 0 auto v.$spacing-unit * 2 auto;
    }

    > img {
      max-width: 100%;
    }
  }

  .post-previews-list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
