---
import FormattedDate from "../components/FormattedDate.astro";
import ContentLayout from "./ContentLayout.astro";


const { title, heroImage, pubDate, updatedAt, tags, description } = Astro.props;

---

<ContentLayout bodyclass="layout-post">
	<article
		class="post container"
		itemscope
		itemtype="http://schema.org/BlogPosting"
	>
		<header class="post-header">
			<div
				class="post-header-img center"
				style={heroImage && `background: transparent url('${heroImage}') no-repeat center; background-size: cover`}
			/>

			<div class="d-flex flex-wrap">
				{pubDate && <FormattedDate date={pubDate} />}
				{ 
					updatedAt && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedAt} />
							</div>
						)
					}
				&nbsp;/&nbsp;
				<div class="post-meta">
					Topics: 
					{
						tags && tags.join(", ")
					}
				</div>
			</div>

			<div class="">
				<h1 class="post-title" itemprop="name headline">{title}</h1>
			</div>

			<div class="post-header-intro">
				{description}
			</div>

			<div class="post-header-secondary">
				<div class="post-header-secondary__backlink">
					<a class="" href="/">Back to start page</a>
				</div>
				<div class="post-header-secondary__sharing">
					<div class="post-header-secondary__label">Share this:</div>
					<div class="share-item">
						<a
							class="icon-logo-twitter"
							href=""
							title="Share this on Facebook"
						>
						</a>
					</div>
					<div class="share-item">
						<a
							class="icon-logo-fb"
							href=""
							title="Share this on Twitter"
						>
						</a>
					</div>
					<div class="share-item">
						<a
							class="icon-email"
							href="mailto:youremail@email.com?subject=Have%20a%20look%20a%20this!&body=Email%20Body%20Text"
							title="Share this via Email"
						>
						</a>
					</div>
				</div>
			</div>
		</header>

		<div class="post-content" itemprop="articleBody">
			<slot />
		</div>

	</article>
</ContentLayout>

<style lang="scss" is:global>
	@import "../styles/components/post-layout.scss";
</style>